/* Navigation Bar CSS */
header {
	color: white;
}

.navbar {
  width: 100%;
  background-color:white;
}

.navbar img {
  max-width: 33%;
  max-height: 2%
}

.navbar a {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  float: right;
  min-width: 22%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #00A69D;
  text-align: center;
  letter-spacing: 0.08em;
  color: white;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.navbar a:nth-of-type(2) {
  background-color: #F398A4
}

.navbar a:nth-of-type(3) {
  background-color: #FFD632
}

.navbar a:hover {
  opacity: 0.5;
}

/* Main */

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    color: white;
}

/* Hero Image */

.hero {
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%;
    height: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white; 
    
    background-image: url('images/pledge-background.jpg');
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.hero h1 {
    font-weight: bold;
    font-size: 2em;
}

/* About Sectoin */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "text image"
  "image2 text2"
  "text3 image3";
}

.about h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: bold;
  color:white;
}

.about .text {
  height: 100%;
  grid-area: text; 
  padding:5em;
  background-color: #7F3139;
  margin: auto;
}

.about .image{
  height: 100%;
  object-fit: cover;
  object-position: center center; 
}

.about img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center; 
}

.about .text2 {
  height: 100%;
  grid-area: text2; 
  padding:5em;
  background-color: #264764;
  margin: auto;
}


.about .image2 {
  background-image: url("images/raffle.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  grid-area: image2; 
}

.about .image3 {
  background-image: url("images/bears.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  grid-area: image3; 
}
.about .text3 {
  grid-area: text3; 
  padding:5em;
  background-color: #7A69AF;
  height:auto;
}

.about button {
  font-family: 'PT Sans', sans-serif;
margin:auto;
  display: flex;
  border-radius: 15px;
  text-align:center;
  font-size: 1.2em;
  padding: 24px 60px;
  color: white;
   background-color: Transparent;
   border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  transition-property: color, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
.about button:hover {
  color: #ffffff;
  background-color: grey;
  cursor: pointer;
}

/* Social Media */

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title title"
    "post1 post2 post3";
}

.social .title {
  grid-area: title;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  color:black;
  margin:auto;
}

.social .post1 {
  grid-area: post1;
  padding: 3em;
  margin-left:auto;
  margin-right:auto;
}
.social .post2 {
  grid-area: post2;
   padding: 3em;
  margin-left:auto;
  margin-right:auto;
}
.social .post3 {
  grid-area: post3;
   padding: 3em;
  margin-left:auto;
  margin-right:auto;
}

.social img {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  border: 2px solid black;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.social img:hover {
  opacity: 0.5;
}

.footer {
  display: grid;
  background-color: #473C3C;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo info register";
}

.logo {
  margin-left: auto;
  margin-right: auto;
  grid-area: logo; 
  padding: 3em;
}
.logo img {
  width: 250px;
}

.info {
  grid-area: info;
  padding-top: 2em;
}

.info h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  color:white;
}

.info p {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.7em;
  color:white;
}

.register { 
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  grid-area: register;
}

.register img {
  width: 250px;
}



/* RESEARCH PAGE */

.research {
  background-color: #7F3139;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "text image";
}

.research h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: bold;
  color:white;
}

.research .text {
  height: 100%;
  grid-area: text; 
  padding:5em;
  margin: auto;
}

.research .image{
  height: 100%;
  object-fit: cover;
  object-position: center center; 
}

.research img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center; 
}


/* Responsive */


@media screen and (max-width: 1400px) {
  .navbar a {
    padding-top: 3%;
  padding-bottom: 3%;
    float: none;
    display: block;
    min-height:50%;
  }
  .navbar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
}
}

@media screen and (max-width: 1000px) {
.social,
.footer,
.about {
  display: inline-block;
  text-align: center;
  width:100%;
section {
  display: block;
  height: 300px;
  min-width:100%;
.social img {
  max-width: 75%;
}
}
}
}
